/essential
/local
/mods
/defaultconfigs
/data
/blueprints
/natives
/logs
/pointblank
/profileimage
/schematics
/screenshots
/shaderpacks
/XaeroWaypoints_BACKUP240807
/crash-reports
/immersive_paintings
/immersive_paintings_cache
/fancymenu_data
/config/openloader
/kubejs/probe
/downloads
/.world-host-cache
/.mixin.out
/quests_structures

resourcepacks
.vscode
modernfix
saves
xaero




# files
observable_announce
STALLER.jar
STALLER.json
TLauncherAdditional.json
usercache.json
usernamecache.json
options.txt
patchouli_data.json
.curseclient
.qmenu_opened.marker
cherishedworlds-favorites.dat
fabricloader.log
hs_err_pid1248.log
minecraftinstance.json
ops.json
servers.dat
servers.dat_old
servers.essential.dat
imgui.ini
modlist.md
rhino.local.properties
steller 1.20.1 dev.ico
